/* Font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Variables */
:root {
  --white: #fff;
  --light-slate: #d5e1ef;
  --medium-slate: #68778d;
  --dark-slate: #1f314f;
  --bold-font: 700;
  --normal-font: 400;
}

/* Main Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-slate);
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100svh;
}

img {
  max-width: 100%;
  display: block;
}

.card {
  background-color: var(--white);
  width: 20rem;
  padding: 1rem;
  padding-block-end: 2.5rem;
  text-align: center;
  border-radius: 1.25rem;
}

.card__picture {
  border-radius: 0.625rem;
  margin-block-end: 1.5rem;
}

.card__content {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card__heading {
  color: var(--dark-slate);
  font-weight: var(--bold-font);
  font-size: 1.375rem;
  line-height: 1.2;
}

.card__text {
  color: var(--medium-slate);
  font-weight: var(--normal-font);
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: 0.2px;
}
